In [49]:
import nltk
import numpy as np
import pandas as pd
import string 
import math

In [50]:
with open("E:/126156071/lab5/Bank.txt","r") as file:
    text=file.read()
financial_definition= text.split("\n\n\n")
river_definition=text.split("\n\n\n")
test_data=text.split("\n\n\n")

In [54]:
def dataframe_conversion(defi,sense):
    lst=[]
    temp=defi.split("\n")
    temp.remove(temp[0])
    for i in temp:
        for j in i.split(". "):
            j=j.translate(str.maketrans('', '', string.punctuation))
            lst.append(j)
    data={"words":lst,"sense":[sense]*len(lst)}
    return pd.DataFrame(data)

In [55]:
df1=dataframe_conversion(financial_definition,"Financial")
df2=dataframe_conversion(river_definition,"River")
test_df=dataframe_conversion(test_data,"?")
df1=df1.append(df2)
len(df1)
df1

AttributeError: 'list' object has no attribute 'split'

In [32]:
test_df=test_df.drop(index=test_df.index[-2:])
test_df

NameError: name 'test_df' is not defined

In [33]:
def pb(df,classifier):
    cnt=0
    data=df
    data=data[data.sense == classifier]
    return len(data[ 'sense']/len(df[ 'sense']))

In [34]:
def calculate_v(df):
    ll=df['words']
    l=[]
    l1=[]
    for i in ll:
        l1.append(i.split())
    for i in l1:
        for j in i:
            if j not in l:
                l.append(j)
    return len(l)

In [35]:
def prob_word(df,classifier,wrd,v):
    dff=df[df.sense==classifier]
    cnt=0
    for word in dff['words']:
        if wrd in word:
            cnt+=1
    return (cnt+1)/(len(dff)+v)

In [36]:
p_f=pb(df1,'Financial')
p_r=pb(df1,'River')
math.log2(p_f)

NameError: name 'df1' is not defined

In [37]:
v=calculate_v(df1)
v

NameError: name 'df1' is not defined

In [39]:
def naive_bayes(df1,classifier,test_data):
    prob_test=math.log2(pb(df1,classifier))
    for word in test_data:
        word_pb=math.log2(prob_word(df1,classifier,word,v))
        prob_test=prob_test+word_pb
    return prob_test

In [40]:
sense_list=[]
for i in test_df['words']:
    print("\nFor Test_data:",i)
    pb_r=naive_bayes(df1,'River',i.split())
    pb_f=naive_bayes(df1,'Financial',i.split())
    print("\tScore for p(test_data|River):",pb_r)
    pirnt("\tScore for p(test_data|Financial):"pb_f)
    if pb_f>pb_r:
        sense_list.append("Financial")
        print("\tTest data comes under Financial Institution classification")
    else:
        sense_list.append("River")
        print("\tTest data comes under River Border classification")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (120265031.py, line 7)